       <!--<p>TradeMark YelpCamp 2018</p> -->
       <footer class="page-footer font-small blue pt-4">
              <div class="footer-copyright text-center py-3">© 2018 Copyright:
                     <a href="http://www.purduecycling.com/">PurdueCycling.com</a>
                     <br>
                     <p>created by Yi Sun (sun531@purdue.edu)</p>
              </div>
       </footer>       
    </body>
</html>